# Ignorar claves y configuraciones sensibles
.env
.streamlit/secrets.toml

# Archivos de configuración de entorno
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.xlsx
*.bak

# Entornos virtuales
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db
